body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(201, 197, 213);
    background-image: url('https://github.com/rohit-raje-786/Fake-product-identification/blob/main/public/assets/images/light-theme.png?raw=true'); 
    background-size: cover; 
}

.Application-name{
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    margin-top: 10px;
    padding:10px 0;
    text-decoration:none;
}
a{
    text-decoration:none;
}
a:hover {
    
    text-decoration: underline; 
}
.Application-name>.Product-identification>.navbar-brand{
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 30px; 
}
.navbar-brand span {
display: block;
font-size: 12px;
font-weight: 500;
color: rgba(0, 0, 0, 0.3); 
}

.navbar-brand:hover, .navbar-brand:focus {
color: #000; 
}  
/* Navigation styling */

#ftco-nav1 {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding:10px 0;
    font-size: 1.3rem; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  #ftco-nav1 .navbar-nav1 {
    display: flex; /* Change to flex display */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #ftco-nav1 .nav-item1 {
    margin-right: 5rem;
  }
  #ftco-nav1 .nav-link1 {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
  }
  
  #ftco-nav1 .nav-link1::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a555a9;
    transition: width 0.3s ease;
  }
  
#ftco-nav1 .nav-item1:hover .nav-link1::after {
    width: 70%;
}
#ftco-nav1 .nav-link1:hover {
   font-weight: 700; 
}

.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container1 {
      max-width: 540px; } }
@media (min-width: 768px) {
    .container1 {
      max-width: 720px; } }
@media (min-width: 992px) {
    .container1 {
      max-width: 960px; } }
@media (min-width: 1200px) {
    .container1 {
      max-width: 1140px; } 
}    
.container-fluid1 {
  width: 100%;
}
/* .role-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #720db6; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.role-option {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.role-option:hover {
    background-color: #720db6;
    color:aliceblue
}

.role-dropdown {
    display: none;
    position: absolute;
    top: 9%; 
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
} */

.pagetitle{
    color: #720db6;
    font-weight: bold;
    font-size: 2em;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
/* Navbar navigation */
.navbar-nav {
    display: flex; /* Makes the unordered list a flex container */
    justify-content: center; /* Centers the list items */
    list-style: none; /* Removes the default list style */
    padding: 0; /* Removes default padding */
    
}
.nav-link {
    color:whitesmoke; /* Replace `#your_color_here` with the desired color code */
}
/* Navigation list items */
.navbar-nav .nav-item {
    margin-right: 10px; /* Adds space between list items */
    width: 40%; /* Each list item will take up half of the page width */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #720db6;
    border-radius: 5px;
    background-color: #720db6;
    color: aliceblue;
     min-height: 280px;
}

.container-fluid{
    /* border: 2px solid #720db6;
    border-radius: 5px; */
    width: fit-content;
    display: flex;
    justify-content: center;
    /* margin-left:35% */
    margin:0 auto;
    display:block;
}

/* Adjust spacing */
.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Remove margin-right from the last list item */
}

/* Link info div styling */
.linkinfo {
    padding: 5px; /* Add padding for a consistent look */
    margin: 0; /* Remove any default margin */
    text-align: center;
}

tr{
    color: #720db6;
    font-weight: bold;
    font-size: larger;
}

#register{
    background-color: #720db6;
    color: aliceblue;
    font-size: 1em;
    border-radius:5px ;
    border-color: #720db6;
    font-family: 'Times New Roman', Times, serif;
    
    margin:0 auto;
    display:block;
}

table{
    margin-left: 18%;
    
}

.backbtn{
    background-color: #720db6; /* Adjust color as needed */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.backbtn a{
    color:white;
}

#queryPrd{
    color:#720db6;
    margin-left:40%;
    
}

tr{
    color: #720db6;
}

th{
    background-color: hsl(276, 87%, 38%);
    color: whitesmoke;
    padding: 10px;
}